---
interface Props {
  title: string
  description: string
  url: string
  repoUrl?: string
  tags: string[]
  linkText?: string
}

const {
  title,
  description,
  url,
  repoUrl,
  tags,
  linkText = 'View on GitHub',
} = Astro.props
const bottomLink = repoUrl || url
---

<div
  class="border-l-4 border-gray-200 dark:border-gray-700 pl-4 hover:border-black dark:hover:border-white transition"
>
  <h2 class="text-2xl font-bold">
    <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline">{title}</a
    >
  </h2>
  <p class="text-gray-700 dark:text-gray-300 mt-2">{description}</p>
  <div class="mt-4 flex flex-wrap gap-2">
    {
      tags.map((tech) => (
        <span class="bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-200 text-xs font-medium px-2.5 py-0.5 rounded">
          {tech}
        </span>
      ))
    }
  </div>
  <a
    href={bottomLink}
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-600 dark:text-blue-400 hover:text-blue-800 dark:hover:text-blue-300 font-medium mt-2 inline-block"
  >
    {linkText} &rarr;
  </a>
</div>
