---
import BaseLayout from './BaseLayout.astro'
import { SITE_TITLE } from '../consts'

const { frontmatter } = Astro.props
---

<BaseLayout
  title={`${frontmatter.title} | ${SITE_TITLE}`}
  description={frontmatter.description}
>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <article
      class="prose prose-lg max-w-none prose-img:rounded-xl prose-img:shadow-md hover:prose-a:text-blue-600 prose-headings:scroll-mt-20"
    >
      <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
      {
        frontmatter.heroImage && (
          <img
            src={frontmatter.heroImage}
            alt={frontmatter.title}
            class="w-full h-auto object-cover rounded-xl shadow-md mb-8"
          />
        )
      }
      <slot />
    </article>
  </main>
</BaseLayout>

<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs'
  mermaid.initialize({ startOnLoad: true })
</script>
